/*#region global*/
@font-face {
    font-family: 'Poppins';
    src: url('../font/InterVariableFont.ttf');
}

/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins';
}

/*paleta de cores*/
:root {
    --clr-wine: #49111C;
    --clr-black: #0A0908;
    --clr-white: #F2F4F3;
    --clr-lightbrown: #A9927D;
    --clr-brown: #5E503F;
    --no-color: transparent;
}

/*#endregion*/

/*#region login*/

.sectiontopo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    /* Centraliza a imagem */


    height: 100vh;
    padding: 20px;
    text-align: center;

    p {
        font-size: 15px;
    }
}

.titulosTopo {
    text-align: center;
    font-size: clamp(30px, 5vw, 40px);
    color: var(--clr-white);
}

.tituloPrimario {
    padding-top: 20px;
    font-size: clamp(35px, 6vw, 40px);
    font-weight: 900;
    margin-bottom: 30px;
}

.tituloPrimario h1 span {
    display: block;
}


.tituloSegundario {
    font-weight: bold;
    display: inline;
    font-size: 15px;
}

.containerBtnLogin {
    position: absolute;
    top: 30px;
    right: 80px;
}

.btnLogin {
    color: var(--clr-white);
    background-color: var(--clr-wine);
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btnLogin:hover {
    transform: scale(1.05);
}

.btnAssinar {
    color: var(--clr-white);
    background-color: var(--clr-wine);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btnAssinar:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

/*#endregion*/

/*#region sectionPlans*/
.plans-section {
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('../img/bgPlans.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;

    .section-title {
        font-weight: 600;
        font-size: 40px;
    }

    .plans-container {
        display: flex;
        margin-top: 30px;
        gap: 100px;
    }
}

.plan-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.plan-option-special:hover {
    background-color: var(--clr-white);
    color: var(--clr-wine);
}

.plan-option-default:hover {
    background-color: var(--clr-wine);
    color: var(--clr-white);
}

.plan-column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan-subtitle {
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
}

.plan-price {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 100;
}

.plan-price-special {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 100;
}

.plan-card {
    background-color: var(--clr-lightbrown);
    padding: 10px;
    border-radius: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.more-info {
    display: block;
    text-align: center;
    font-size: 12px;
    color: var(--clr-white);
    margin-bottom: 10px;
    margin-top: 5px;
}

.plan-column-right {
    display: flex;
    flex-direction: column;
}

.plan-options-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.plan-options {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
    background-color: var(--clr-lightbrown);
    border-radius: 10px;
    padding: 3px;
}

.plan-card-special {
    background-color: var(--clr-wine);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 70px;
    margin-top: 35%;
}

.plan-option-special {
    background-color: var(--clr-wine);
    font-weight: 00;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.plan-option-default {
    background-color: var(--clr-white);
    font-weight: 700;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: var(--clr-wine);
}

.plan-card-special .descricao {
    font-size: 16px;
    margin: 10px 0;
}

/*#endregion*/

/*#region sectionCar*/

.sectionCar {
    background-image: url('../img/bgCar.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.tituloTopo {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.tituloBot {
    width: 100%;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 20px;
}

.catalogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}

.catalogo {
    width: 200px;
    height: 270px;
    margin: 10px;
    text-align: center;
}

.catalogo img {
    width: 200px;
    height: 270px;
    border-radius: 10px;
    transition: transform 0.5s, opacity 0.5s;

    /* Reduzindo o efeito de opacidade no final */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 0) 100%);
}


.catalogo:hover img {
    transform: scale(1.2);
    opacity: 0.8;
    z-index: 10;
}

.catalogo span {
    display: block;
    margin-bottom: 25px;
    font-weight: bold;
}

/*#endregion*/

/*#region perguntas*/
.pergunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    color: var(--clr-white);
}

.tituloDuvidas {
    margin-left: 160px;
    color: white;
    font-weight: 900;
    margin-bottom: 50px;
    font-size: 30px;

}

.sectionDuvidas {
    height: 100vh;
    font-weight: bold;
    background-image: url('../img/bgDuvidas.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.duvidasContainer {
    margin: 10px 10;
    padding: 50px;
}

.duvidasInfos,
.duvidasInfosdois,
.duvidasInfostreis,
.duvidasInfosquatro,
.duvidasInfoscinco,
.duvidasInfosseis {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    cursor: pointer;
    transition: .3s;
}

.duvidasInfos:hover,
.duvidasInfosdois:hover,
.duvidasInfostreis:hover,
.duvidasInfosquatro:hover,
.duvidasInfoscinco:hover,
.duvidasInfosseis:hover {
    opacity: .5;
}

.duvidasInfos {
    background-image: url('../img/retangulo.png');
}

.duvidasInfosdois {
    background-image: url('../img/retanguloDois.png');
}

.duvidasInfostreis {
    background-image: url('../img/retanguloTreis.png');
}

.duvidasInfosquatro {
    background-image: url('../img/retanguloQuatro.png');
}

.duvidasInfoscinco {
    background-image: url('../img/retanguloCinco.png');
}

.duvidasInfosseis {
    background-image: url('../img/retanguloSeis.png');
}

.seta {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pergunta span {
    font-weight: 900;
}


/*#endregion*/

/*#region footer*/
footer {
    background-color: #0A0908;
    color: white;
    width: 100%;
    height: 230px;
    padding-top: 30px;

    .menuFooter {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    img {
        width: 30px;
        filter: sepia(#F2f3f4);
    }

    .imgFooter {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}

/*#endregion*/